$base-color: #2d3e50;
$white: #ffffff;
$blue-shade-one: #fbfcff;
$blue-shade-two: #e4edfc;
$blue-shade-three: #c7dbfe;
$blue-shade-four: #9dc4ff;
$gray: #d0cfcf;

.vtl {
  .vtl-drag-disabled {
    background-color: $gray;
    &:hover {
      background-color: $gray;
    }
  }
  .vtl-disabled {
    background-color: $gray;
  }
}

.icon {
  &:hover {
    cursor: pointer;
  }
}

.muted {
  color: $gray;
  font-size: 80%;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}
